*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
images/anomaly_visual_example_1.png filter=lfs diff=lfs merge=lfs -text
images/anomaly_visual_example_2.png filter=lfs diff=lfs merge=lfs -text
images/anomaly_visual_example_3.png filter=lfs diff=lfs merge=lfs -text
images/anomaly_visual_example.png filter=lfs diff=lfs merge=lfs -text
images/augmented_example.png filter=lfs diff=lfs merge=lfs -text
images/Autoencoder_Pipeline.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/bottle/image_0.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/bottle/image_1.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/bottle/image_2.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/bottle/image_3.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/bottle/image_4.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/cable/image_0.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/cable/image_1.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/cable/image_2.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/cable/image_3.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/cable/image_4.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/capsule/image_0.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/capsule/image_1.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/capsule/image_2.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/capsule/image_3.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/capsule/image_4.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/carpet/image_0.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/carpet/image_1.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/carpet/image_2.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/carpet/image_3.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/carpet/image_4.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/grid/image_0.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/grid/image_1.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/grid/image_2.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/grid/image_3.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/grid/image_4.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/hazelnut/image_0.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/hazelnut/image_1.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/hazelnut/image_2.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/hazelnut/image_3.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/hazelnut/image_4.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/leather/image_0.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/leather/image_1.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/leather/image_2.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/leather/image_3.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/leather/image_4.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/metal_nut/image_0.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/metal_nut/image_1.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/metal_nut/image_2.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/metal_nut/image_3.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/metal_nut/image_4.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/pill/image_0.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/pill/image_1.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/pill/image_2.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/pill/image_3.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/pill/image_4.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/screw/image_0.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/screw/image_1.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/screw/image_2.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/screw/image_3.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/screw/image_4.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/tile/image_0.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/tile/image_1.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/tile/image_2.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/tile/image_3.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/tile/image_4.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/toothbrush/image_0.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/toothbrush/image_1.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/toothbrush/image_2.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/toothbrush/image_3.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/toothbrush/image_4.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/transistor/image_0.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/transistor/image_1.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/transistor/image_2.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/transistor/image_3.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/transistor/image_4.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/wood/image_0.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/wood/image_1.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/wood/image_2.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/wood/image_3.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/wood/image_4.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/zipper/image_0.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/zipper/image_1.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/zipper/image_2.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/zipper/image_3.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_autoencoder/zipper/image_4.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/bottle/image_0.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/bottle/image_1.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/bottle/image_2.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/bottle/image_3.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/bottle/image_4.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/cable/image_0.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/cable/image_1.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/cable/image_2.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/cable/image_3.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/cable/image_4.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/capsule/image_0.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/capsule/image_1.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/capsule/image_2.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/capsule/image_3.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/capsule/image_4.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/carpet/image_0.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/carpet/image_1.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/carpet/image_2.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/carpet/image_3.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/carpet/image_4.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/grid/image_0.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/grid/image_1.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/grid/image_2.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/grid/image_3.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/grid/image_4.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/hazelnut/image_0.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/hazelnut/image_1.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/hazelnut/image_2.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/hazelnut/image_3.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/hazelnut/image_4.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/leather/image_0.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/leather/image_1.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/leather/image_2.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/leather/image_3.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/leather/image_4.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/metal_nut/image_0.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/metal_nut/image_1.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/metal_nut/image_2.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/metal_nut/image_3.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/metal_nut/image_4.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/pill/image_0.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/pill/image_1.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/pill/image_2.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/pill/image_3.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/pill/image_4.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/screw/image_0.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/screw/image_1.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/screw/image_2.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/screw/image_3.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/screw/image_4.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/tile/image_0.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/tile/image_1.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/tile/image_2.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/tile/image_3.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/tile/image_4.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/toothbrush/image_0.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/toothbrush/image_1.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/toothbrush/image_2.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/toothbrush/image_3.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/toothbrush/image_4.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/transistor/image_0.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/transistor/image_1.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/transistor/image_2.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/transistor/image_3.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/transistor/image_4.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/wood/image_0.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/wood/image_1.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/wood/image_2.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/wood/image_3.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/wood/image_4.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/zipper/image_0.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/zipper/image_1.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/zipper/image_2.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/zipper/image_3.png filter=lfs diff=lfs merge=lfs -text
images/Dataset_knn/zipper/image_4.png filter=lfs diff=lfs merge=lfs -text
images/example[[:space:]]image.png filter=lfs diff=lfs merge=lfs -text
images/KNN_Pipeline.png filter=lfs diff=lfs merge=lfs -text
images/Multimodel_ML_Pipeline.png filter=lfs diff=lfs merge=lfs -text
images/OC-SVM_Pipeline.png filter=lfs diff=lfs merge=lfs -text
images/original_example.png filter=lfs diff=lfs merge=lfs -text
images/overview_image.png filter=lfs diff=lfs merge=lfs -text
images/resnet50_last[[:space:]]block.png filter=lfs diff=lfs merge=lfs -text
images/resnet50.png filter=lfs diff=lfs merge=lfs -text
images/synthetic_example.png filter=lfs diff=lfs merge=lfs -text
